

/*=== Colors ===*/


$warning: #ffce0d;
$warning-dark: #f3c900;

$danger: #ff4343;

$info: #00b9ff;
$info-dark: #00b1eb;

$primary: #1073d8;
$primary-dark: #1066be;

$secondary: #626262;
$secondary-dark: #828282;

$success: #0ec479;

$light: #f7f8fc;

$border: #dfe0eb;

